<h1>Admin view:</h1>
<h2>Internship Opportunity at <%= @internship.company_name %></h2>
<table class="table">
  <tr>
    <th>Company Info:</th>
    <td><%= @internship.company_website %><br><%= @internship.company_address %><br><br><%= @internship.company_description %></td>
  </tr>
  <tr>
    <th>Contact:</th>
    <td><%= @internship.contact_name %><br><%= @internship.contact_phone %><br><%= @internship.contact_email %></td>
  </tr>
  <tr>
    <th>Internship Descripton:</th><td><%= @internship.intern_work %></td>
  </tr>
  <tr>
    <th>Ideal Intern:</th><td><%= @internship.intern_ideal %></td>
  </tr>
  <% if @internship.intern_clearance == true %>
    <tr>
      <th><strong>Clearance Required:</strong></th><td><%= @internship.intern_clearance_description %></td>
    </tr>
  <% end %>
  <tr>
    <th>Intern Mentor:</th>
    <td><%= @internship.mentor_name %><br><%= @internship.mentor_email %><br><%= @internship.mentor_phone %><br></td>
  </tr>
</table>

<h1>User view:</h1>
<h2>Internship Opportunity at <%= @internship.company_name %></h2>
<table class="table">
  <tr>
    <th>Company Info:</th>
    <td><%= @internship.company_website %><br><%= @internship.company_address %><br><br><%= @internship.company_description %></td>
  </tr>
  <tr>
    <th>Internship Descripton:</th><td><%= @internship.intern_work %></td>
  </tr>
  <tr>
    <th>Ideal Intern:</th><td><%= @internship.intern_ideal %></td>
  </tr>
  <% if @internship.intern_clearance == true %>
    <tr>
      <th><strong>Clearance Required:</strong></th><td><%= @internship.intern_clearance_description %></td>
    </tr>
  <% end %>
</table>
